<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="mybatis-config.properties"/>



    <context id="m_property" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />

        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- jdbc连接信息 -->
        <jdbcConnection driverClass="${jdbc_driver}"
                        connectionURL="${jdbc_url}"
                        userId="${jdbc_user}"
                        password="${jdbc_password}">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 生成vo对象(dto & example) -->
        <javaModelGenerator targetPackage="com.chinaredstar.property.dao"
                            targetProject="/Users/du.lei/Documents/work/1-代码/workspace/mybatis-gen/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
            <!--<property name="rootClass" value="com.aotugenen.fashionAvenue.base.BaseEntity"/>-->
        </javaModelGenerator>
        <!-- 用于定义SQL映射生成器的属性。(xml) -->
        <sqlMapGenerator targetPackage="com.chinaredstar.property.mapper"
                         targetProject="/Users/du.lei/Documents/work/1-代码/workspace/mybatis-gen/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- 生成DAO的类文件以及配置文件 ANNOTATEDMAPPER XMLMAPPER-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.chinaredstar.property.mapper"
                             targetProject="/Users/du.lei/Documents/work/1-代码/workspace/mybatis-gen/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="m_property" domainObjectName="PropertyEntity" enableDeleteByPrimaryKey="true"
               enableDeleteByExample="true">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="property_id" sqlStatement="postgre" identity="true"/>

        </table>
    </context>





</generatorConfiguration>